<html ng-app="app2">
	<head>
		<title>Proyecto OBEX</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  />
		<link rel=icon href=images/logo.png sizes="16x16" type="image/png">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />

		<link rel="stylesheet" type="text/css" href="css/angucomplete.css"/>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
		<script src="js/angular-locale_es-co.js"></script>
		<script src="js/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
					$("#vinculadoN").click(function(){
						$("#superblock").hide(400);
					});
					$("#vinculadoS").click(function(){
						$("#superblock").show(400);
					});
					$("#unounoC").click(function(){
						$("#unounootro").show(800);
					});
					$("#cerocuatro3").click(function(){
							$("#parte1").hide(500);
					});
					$("#cerocuatro4").click(function(){
							$("#parte1").hide(500);
					});
					$("#cerocuatro1").click(function(){
							$("#parte1").show(500);
					});
					$("#cerocuatro2").click(function(){
							$("#parte1").show(500);
					});
					$("#cerocuatro5").click(function(){
							$("#ceroCuatroOtro").show(700);
							$("#parte1").show(500);
					});
			});
		</script >
	</head>
	<body>
			<section id="one" class="main special">
				<div style="width: 45em;" class="container">
					<span class="image fit primary"><img src="http://gabrielparradoconferencias.com/images/pic01.jpg" alt="" /></span>
					<div class="content">
						<div style="margin:-4em 0 2em 0; background: url('images/un.png') no-repeat center; height:170px" alt="Escudo Universidad Nacional de Colombia" /></div>
						<header class="major">
							<h2>Proyecto OBEX</h2>
						</header>
						<div class="container-fluid" id="formulario" ng-controller="formulario2">
							<div style="margin-top:2em" class="row">
								 <div class="col-md-6">
										<div style="margin:-4em 0 2em 0; background: url('images/participante.png') no-repeat center; height:230px" alt="Escudo Universidad Nacional de Colombia" /></div>
								 </div>
								 <div class="col-md-6"><h1 style="font-size: 2.3em;" id="title">{{ mensaje }}</h1></div>
							</div>
							<form action="php/encP.php" method="post" name="encPForm" class="form-horizontal" novalidate>

								<div class="form-group form-group-lg">
									<label class="col-md-6 control-label">Proyecto </label>
								</div>
								<div class="form-group form-group-lg">
									<div class="col-md-12">
										<div class="padded-row">
											<angucomplete id="members" required
											placeholder="Buscar por nombre del proyecto"
											pause="400"
											selectedobject="s"
											url="php/consProy.php?proy="
											datafield="records"
											titlefield="nombre"
											descriptionfield="descrip"
											inputclass="form-control form-control-small" />
										</div>
										<div class="" ng-show="s">
											Has seleccionado: <i><b>{{s.originalObject.nombre}}</b></i>
										</div>
										<div style="color: red" class="" ng-show="!s">
											Por favor escoja un item del autocompletar (Escriba una palabra clave y espere las opciones)
										</div>
										<input style="display:none" name="proyecto" type="text" ng-model="s.originalObject.nombre" required>
									</div>
								</div>


							  <div class="form-group form-group-lg" ng-class="{ 'has-error' : encPForm.nombrePart.$invalid }">
									<label class="col-md-6 control-label">Participante </label>
								</div>
								<div class="form-group form-group-lg" ng-class="{ 'has-error' : encPForm.nombrePart.$invalid }">
									<div class="col-md-12">
									  <input class="form-control" type="text" placeholder="Nombre del participante" name="nombrePart" ng-model="user" ng-change="existente()" required>
									</div>
									<div ng-show="exist[0].existe=='NO'" class="col-md-6">
									  <input class="form-control" ng-model="dt"  name="fecha" type="date" ng-disabled="!(edadn==null || edadn=='')" placeholder="Fecha nacimiento" ng-click="open($event)" >
										<input class="dropdown-menu dropdown-menu-right" type="hidden" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" close-text="Close" />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</div>
									<div class="col-md-6">
										<input ng-show="exist[0].existe=='NO'" class="form-control" ng-model="edadn" ng-disabled="!(dt==null || dt=='')" type="text" placeholder="Edad (si desconoce fecha de nacimiento)" name="edad">
									</div>
									<div class="col-md-6">
										<input ng-show="exist[0].existe=='NO'" class="form-control" ng-model="lugarn" type="text" placeholder="Lugar de nacimiento" name="lugarn">
									</div>
							  </div>

								<div class="clear"></div><br>
								<hr class='separador_post'/>

								<div class="form-group">
									<label class="col-md-12 control-label">0.3 ¿El encuestado tiene algún vínculo con el proyecto en mención? </label>
								</div>
								<div class="form-group">
									<div class="btn-group col-sm-8" data-toggle="buttons">
										<label id="vinculadoS" class="btn btn-primary active">
									    <input checked="checked" type="radio" name="vinculado" value="1"> SÍ
									  </label>
									  <label id="vinculadoN" class="btn btn-primary">
									    <input type="radio" name="vinculado" value="0"> NO
									  </label>
									</div>
								</div><br>

								<div id="superblock">
									<div class="form-group">
										<label class="col-md-12 control-label">0.4 ¿Cuál es el vínculo del entrevistado con el proyecto? </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label  id="cerocuatro1" class="btn btn-primary">
										    <input type="radio" name="ceroCuatro" value="1"> Director del proyecto
										  </label>
											<label  id="cerocuatro2" class="btn btn-primary">
										    <input type="radio" name="ceroCuatro" value="2"> Parte del equipo técnico de la Universidad Nacional
										  </label>
											<label id="cerocuatro3" class="btn btn-primary">
										    <input type="radio" name="ceroCuatro" value="3"> Grupo administrativo
										  </label>
											<label id="cerocuatro4" class="btn btn-primary">
										    <input type="radio" name="ceroCuatro" value="4">Proveedor
										  </label>
										  <label id="cerocuatro5" class="btn btn-primary">
										    <input type="radio" name="ceroCuatro" value="5"> Otro
										  </label>
											<div class="col-sm-4 col-xs-6 col-md-7">
												<input style="display:none" id="ceroCuatroOtro" name="ceroCuatroOtro" class="form-control" type="text" placeholder="¿Cuál?">
											</div>
										</div>
									</div>


									<div id="parte1">
										<div class="clear"></div><br>
										<hr class='separador_post'/>

										<h1>Parte 1: Aportes misionales del proyecto</h1><br>

										<div class="form-group">
											<label class="col-md-12 control-label" >1.1 ¿A qué grupo de colaboradores del proyecto pertenece Ud? </label>
										</div>
										<div syle="padding-left:28px" class="form-group">
											<div class="btn-group col-md-12" data-toggle="buttons">
												<label class="col-md-8 btn btn-primary">
											    <input type="checkbox" autocomplete="off" name="unouno[]" value="1"> Profesor de planta de la Universidad Nacional
											  </label>
												<label class="col-md-8 btn btn-primary">
											    <input type="checkbox" autocomplete="off" name="unouno[]" value="2"> Profesor ocasional de la Universidad Nacional
											  </label>
												<label class="col-md-8 btn btn-primary">
											    <input type="checkbox" autocomplete="off" name="unouno[]" value="3"> Estudiante de pregrado de la Universidad Nacional
											  </label>
												<label class="col-md-8 btn btn-primary">
											    <input type="checkbox" autocomplete="off" name="unouno[]" value="4">Estudiante de posgrado de la Universidad Nacional
											  </label>
												<label class="col-md-8 btn btn-primary">
													<input type="checkbox" autocomplete="off" name="unouno[]" value="5">Egresado de la Universidad Nacional
												</label>
												<label class="col-md-8 btn btn-primary">
													<input type="checkbox" autocomplete="off" name="unouno[]" value="6">Profesional de otra Universidad de Colombia
												</label>
												<label class="col-md-8 btn btn-primary">
													<input type="checkbox" autocomplete="off" name="unouno[]" value="7">Profesional de otra Universidad del exterior
												</label>
											  <label id="unounoC" class="col-md-5 btn btn-primary">
											    <input type="checkbox" autocomplete="off" name="unouno[]" value="8"> Otro
											  </label>
												<div class="col-sm-4 col-xs-6 col-md-7">
													<input style="display:none" id="unounootro" name="unounootro" class="form-control" type="text" placeholder="Aquí el otro valor">
												</div>
											</div>
										</div><br>

										<div class="form-group">
											<label class="col-md-12 control-label" >1.2 En términos generales considera Ud. que los aportes del proyecto al desarrollo de la actividad docente o de los planes de estudio de la facultad ha sido: </label>
										</div>
										<div class="form-group">
											<div class="btn-group col-md-12" data-toggle="buttons">
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unodos" value="1"> De gran importancia
											  </label>
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unodos" value="2"> Importantes
											  </label>
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unodos" value="3"> Poco importantes
											  </label>
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unodos" value="4">Irrelevantes
											  </label>
											</div>
										</div><br>

										<div class="form-group">
											<label class="col-md-12 control-label" >1.3 En términos generales considera Ud. que los aportes del proyecto al desarrollo de la investigación en la facultad ha sido: </label>
										</div>
										<div class="form-group">
											<div class="btn-group col-md-12" data-toggle="buttons">
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unotres" value="1"> De gran importancia
											  </label>
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unotres" value="2"> Importantes
											  </label>
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unotres" value="3"> Poco importantes
											  </label>
												<label class="col-md-6 btn btn-primary">
											    <input type="radio" name="unotres" value="4">Irrelevantes
											  </label>
											</div>
										</div><br>

										<div class="form-group">
											<label class="col-md-12 control-label" >1.4¿Considera Ud. que este proyecto fue emprendido bajo intereses y principios de la Universidad Nacional?: </label>
										</div>
										<div class="form-group">
											<div class="btn-group col-md-12" data-toggle="buttons">
												<label class="btn btn-primary">
													<input type="radio" name="unocuatro" value="1"> Sí
												</label>
												<label class="btn btn-primary">
													<input type="radio" name="unocuatro" value="0"> No
												</label>
											</div>
										</div><br>

										<div class="form-group">
											<label class="col-md-12 control-label" >1.5 En términos generales considera Ud. que el trabajo en equipo y colaborativo entre todos los miembros del grupo de trabajo: </label>
										</div>
										<div class="form-group">
											<div class="btn-group col-md-12" data-toggle="buttons">
												<label class="col-md-3 btn btn-primary">
													<input type="radio" name="unocinco" value="1"> Muy bueno
												</label>
												<label class="col-md-3 btn btn-primary">
													<input type="radio" name="unocinco" value="2"> Bueno
												</label>
												<label class="col-md-3 btn btn-primary">
													<input type="radio" name="unocinco" value="3"> Malo
												</label>
												<label class="col-md-3 btn btn-primary">
													<input type="radio" name="unocinco" value="4">Muy malo
												</label>
											</div>
										</div><br>

										<div class="form-group">
											<label class="col-md-12 control-label" >1.6 ¿Considera Ud. que este proyecto fue liderado por las unidades y facultades con mayor conocimiento y preparación de acuerdo a los temas que se tratan?: </label>
											<div class="btn-group col-md-12" data-toggle="buttons">
												<label class="btn btn-primary">
													<input type="radio" name="unoseis" value="1"> Sí
												</label>
												<label class="btn btn-primary">
													<input type="radio" name="unoseis" value="0"> No
												</label>
											</div>
										</div><br>

										<div class="form-group">
											<label class="col-md-12 control-label" >1.7 ¿Considera Ud. que en este proyecto los participantes tenían las habilidades y competencias para adelantarlo con éxito?: </label>
										</div>
										<div class="form-group">
											<div class="btn-group col-md-12" data-toggle="buttons">
												<label class="btn btn-primary">
													<input type="radio" name="unosiete" value="1"> Sí
												</label>
												<label class="btn btn-primary">
													<input type="radio" name="unosiete" value="0"> No
												</label>
											</div>
										</div>
									</div>

									<div class="clear"></div><br>
									<hr class='separador_post'/>

									<h1>Parte 2: Aspectos administrativos del proyecto</h1><br>

									<div class="form-group">
										<label class="col-md-12 control-label" >2.1 ¿Tuvo contacto con trámites administrativos u operativos de la Universidad para la ejecución del proyecto?: </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label class="btn btn-primary">
												<input type="radio" name="dosuno" value="1"> Sí
											</label>
											<label class="btn btn-primary">
												<input type="radio" name="dosuno" value="0"> No
											</label>
										</div>
									</div><br>

									<div class="form-group">
										<label class="col-md-12 control-label" >2.2 En términos generales considera Ud. que el trabajo en equipo y colaborativo entre todos los miembros del grupo de trabajo como: </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosdos" value="1"> Muy ágiles y oportunos
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosdos" value="2"> Ágiles y oportunos
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosdos" value="3"> Poco ágiles y poco oportunos
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosdos" value="4">Lentos e inoportunos
											</label>
										</div>
									</div><br>

									<div class="form-group">
										<label class="col-md-12 control-label" >2.3 ¿Cómo calificaría la transparencia en los trámites al interior de la Universidad Nacional?: </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dostres" value="1">Muy transparentes
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dostres" value="2"> Transparentes
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dostres" value="3"> Poco transparentes
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dostres" value="4">Nada transparentes
											</label>
										</div>
									</div><br>

									<div class="form-group">
										<label class="col-md-12 control-label" >2.4 ¿Cómo funcionó la estructura administrativa de la extensión para este proyecto?: </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscuatro" value="1">Muy bien
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscuatro" value="2"> Bien
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscuatro" value="3"> Mal
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscuatro" value="4">Muy mal
											</label>
										</div>
									</div><br>

									<div class="form-group">
										<label class="col-md-12 control-label" >2.5 ¿En general, cómo calificaría la eficiencia administrativa para este proyecto al interior de la Universidad Nacional?: </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscinco" value="1">Muy eficiente
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscinco" value="2"> Eficiente
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscinco" value="3"> Poco eficiente
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="doscinco" value="4">Nada eficiente
											</label>
										</div>
									</div><br>

									<div class="form-group">
										<label class="col-md-12 control-label" >2.6 Considera Ud. Que el apoyo de la dirección nacional de extensión para este proyecto fue: </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosseis" value="1">Muy importante
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosseis" value="2"> Importante
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosseis" value="3"> Poco importante
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dosseis" value="4">Irrelevante
											</label>
										</div>
									</div><br>

									<div class="form-group">
										<label class="col-md-12 control-label" >2.7 Considera Ud. Que el apoyo de la Sede Regional de la Universidad para este proyecto fue: </label>
									</div>
									<div class="form-group">
										<div class="btn-group col-md-12" data-toggle="buttons">
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dossiete" value="1">Muy importante
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dossiete" value="2"> Importante
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dossiete" value="3"> Poco importante
											</label>
											<label class="col-md-6 btn btn-primary">
												<input type="radio" name="dossiete" value="4">Irrelevante
											</label>
										</div>
									</div><br>
								</div>

								<button style="color: white" type="submit" ng-disabled="encPForm.$invalid" class="btn btn-primary btn-lg">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</section>

			<script type="text/javascript" src="js/app.js"></script>
			<script type="text/javascript" src="js/directives/angucomplete.js"></script>
			<script type="text/javascript" src="js/controller.js"></script>
			<script src="js/bootstrap.js"></script>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
	</body>
</html>
