<!DOCTYPE  html>
<html lang="es" ng-app="app2">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  />
		<link rel="stylesheet" type="text/css" href="css/angucomplete.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"  />
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
		<script src="js/angular-locale_es-co.js"></script>
	</head>
	<body>

		<div class="container-fluid" id="formulario" ng-controller="formulario2">
			<h1>{{ mensaje2 }}</h1>

			<form action="php/encU.php" method="post" name="formul" class="form-horizontal" novalidate>

				<div class="form-group form-group-lg">
					<label class="col-sm-3 control-label">Proyecto<label class="obligatorio"> *</label></label>
					<div class="col-sm-8">
						<div class="padded-row">
							<angucomplete id="members" required
							placeholder="Buscar por nombre del proyecto"
							pause="400"
							selectedobject="s"
							url="php/consProy.php?proy="
							datafield="records"
							titlefield="nombre"
							descriptionfield="descrip"
							inputclass="form-control form-control-small" />
						</div>
						<div class="" ng-show="s">
							Has seleccionado: <i><b>{{s.originalObject.nombre}}</b></i>
						</div>
						<input style="display:none" name="proyecto" type="text" ng-model="s.originalObject.nombre" >
					</div>
				</div>

			  <div class="form-group form-group-lg">
					<label class="col-sm-3 control-label" for="formGroupInputLarge">Participante<label class="obligatorio"> *</label></label>
					<div class="row">
						<div class="col-xs-3">
						  <input class="form-control" type="text" placeholder="Nombre del participante" name="nombrePart" ng-model="user" ng-change="existente()" required>
						</div>
						<div ng-show="exist[0].existe=='NO'" class="col-xs-2">
						  <input class="form-control" ng-model="dt"  name="fecha" type="date" ng-disabled="!(edadn==null || edadn=='')" placeholder="Fecha nacimiento" ng-click="open($event)" >

							<input class="dropdown-menu dropdown-menu-right" type="hidden" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
						<div class="col-xs-2">
							<input ng-show="exist[0].existe=='NO'" class="form-control" ng-model="edadn" ng-disabled="!(dt==null || dt=='')" type="text" placeholder="Edad (si desconoce fecha de nacimiento)" name="edad">
						</div>
						<div style="margin-left:26%" class="col-xs-3">
							<input ng-show="exist[0].existe=='NO'" class="form-control" ng-model="lugarn" type="text" placeholder="Lugar de nacimiento" name="lugarn">
						</div>
					</div>
			  </div>

				<div class="form-group">
					<label class="col-sm-3 control-label">¿El encuestado tiene algún vínculo con el proyecto en mención?<label class="obligatorio"> *</label></label>
					<div class="btn-group col-sm-8" data-toggle="buttons">
						<label class="btn btn-primary active">
					    <input checked="checked" type="radio" name="vinculado" value="1"> SÍ
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="vinculado" value="0"> NO
					  </label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label"> ¿Cuál es el vínculo del entrevistado con el proyecto?<label class="obligatorio"> *</label></label>
					<div class="btn-group col-sm-8" data-toggle="buttons">
						<label class="btn btn-primary">
					    <input ng-model="ceroCuatro" type="radio" name="ceroCuatro" value="1"> Contratante
					  </label>
						<label class="btn btn-primary">
					    <input ng-model="ceroCuatro" type="radio" name="ceroCuatro" value="2"> Equipo contraparte de la Universidad Nacional
					  </label>
						<label class="btn btn-primary">
					    <input ng-model="ceroCuatro" type="radio" name="ceroCuatro" value="3"> Beneficiario
					  </label>
						<label class="btn btn-primary">
					    <input ng-model="ceroCuatro" type="radio" name="ceroCuatro" value="4">Otro
					  </label>
						<div class="col-xs-4">
						  <input ng-show="ceroCuatro==4" class="form-control" type="text" placeholder="Cuál?" name="ceroCuatroOtro">
						</div>
					</div>
				</div>

				<h1>Sector al que pertenece</h1>

				<div class="form-group">
					<label class="col-sm-3 control-label" >¿A qué sector de la sociedad pertenece Ud o su organización?<label class="obligatorio"> *</label></label>
					<div class="btn-group col-sm-8" data-toggle="buttons">
						<label class="btn btn-primary">
					    <input type="radio" name="unouno" value="1">Sector privado
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="unouno" value="2"> Estado
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="unouno" value="3"> Organización social o comunitaria
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="unouno" value="4">Otro
					  </label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" >En términos generales considera Ud. que los aportes del proyecto de la Universidad Nacional para SU SECTOR fueron?:<label class="obligatorio"> *</label></label>
					<div class="btn-group col-sm-8" data-toggle="buttons">
						<label class="btn btn-primary">
					    <input type="radio" name="unodos" value="1"> Muy satisfactorios, de gran importancia.
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="unodos" value="2"> Satisfactorios, importantes.
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="unodos" value="3"> Poco satisfactorios, escasamente importantes.
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="unodos" value="4">Insatisfactorios, irrelevantes.
					  </label>
					</div>
				</div>

				<h1>Aportes del proyecto</h1>

				<div class="form-group">
					<label class="col-sm-3 control-label" >¿En términos generales considera que Ud. o su organización esta utilizado conocimientos o prácticas aprendidos o perfeccionados durante el
proyecto con la Universidad Nacional?:<label class="obligatorio"> *</label></label>
					<div class="btn-group col-sm-8" data-toggle="buttons">
						<label class="btn btn-primary">
					    <input type="radio" name="dosuno" value="1"> De manera permanente
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="dosuno" value="2"> Continuamente
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="dosuno" value="3"> Pocas veces
					  </label>
						<label class="btn btn-primary">
					    <input type="radio" name="dosuno" value="4">Nunca
					  </label>
					</div>
				</div>

			<div class="form-group">
				<label class="col-sm-3 control-label" >¿En términos generales considera Ud. que los aportes del proyecto de la Universidad Nacional para LA SOCIEDAD EN GENERAL fueron?:<label class="obligatorio"> *</label></label>
				<div class="btn-group col-sm-8" data-toggle="buttons">
					<label class="btn btn-primary">
						<input type="radio" name="dosdos" value="1"> Muy satisfactorios, de gran importancia.
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="dosdos" value="2"> Satisfactorios, importantes.
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="dosdos" value="3"> Poco satisfactorios, escasamente importantes.
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="dosdos" value="4">Insatisfactorios, irrelevantes.
					</label>
				</div>
			</div>


		<h1>Aspectos administrativos del proyecto</h1>

		<div class="form-group">
			<label class="col-sm-3 control-label" >¿Tuvo contacto con trámites administrativos u operativos de la Universidad para la ejecución del proyecto?:<label class="obligatorio"> *</label></label>
			<div class="btn-group col-sm-8" data-toggle="buttons">
				<label class="btn btn-primary">
					<input type="radio" name="tresuno" value="1"> Sí
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="tresuno" value="0"> No
				</label>
			</div>
		</div>

			<div class="form-group">
				<label class="col-sm-3 control-label" >¿Cómo calificaría la agilidad y oportunidad de los trámites al interior de la Universidad Nacional?:<label class="obligatorio"> *</label></label>
				<div class="btn-group col-sm-8" data-toggle="buttons">
					<label class="btn btn-primary">
						<input type="radio" name="tresdos" value="1">Muy ágiles y oportunos
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="tresdos" value="2"> Ágiles y oportunos
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="tresdos" value="3"> Poco ágiles y poco oportunos
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="tresdos" value="4">Lentos e inoportunos
					</label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label" >¿Cómo calificaría la transparencia en los trámites al interior de la Universidad Nacional?:<label class="obligatorio"> *</label></label>
				<div class="btn-group col-sm-8" data-toggle="buttons">
					<label class="btn btn-primary">
						<input type="radio" name="trestres" value="1">Muy transparentes
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="trestres" value="2"> Transparentes
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="trestres" value="3"> Poco transparentes
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="trestres" value="4">Nada transparentes
					</label>
				</div>
			</div>

			<h1>Percepción general</h1>

			<div class="form-group">
				<label class="col-sm-3 control-label" >¿En términos generales considera que el servicio recibido durante el proyecto por parte de la Universidad Nacional fue?:<label class="obligatorio"> *</label></label>
				<div class="btn-group col-sm-8" data-toggle="buttons">
					<label class="btn btn-primary">
						<input type="radio" name="cuatrouno" value="1">Muy satisfactorio, supero mis expectativas
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="cuatrouno" value="2"> Satisfactorio, era lo esperado
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="cuatrouno" value="3"> Poco satisfactorio, no colmo las expectativas que se tenían
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="cuatrouno" value="4">Nada satisfactorio, muy por debajo de lo esperado
					</label>
				</div>
			</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" >¿Volvería Ud. a utilizar o a participar en proyectos de extensión de la Universidad Nacional?:<label class="obligatorio"> *</label></label>
					<div class="btn-group col-sm-8" data-toggle="buttons">
						<label class="btn btn-primary">
							<input type="radio" name="cuatrodos" value="1">Sin excepción alguna
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="cuatrodos" value="2">Cuando las circunstancias lo ameriten
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="cuatrodos" value="3">Analizaría primero otras alternativas
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="cuatrodos" value="4">Nunca lo volvería a hacer
						</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" >Considera Ud. A la Universidad Nacional como:<label class="obligatorio"> *</label></label>
					<div class="btn-group col-sm-8" data-toggle="buttons">
						<label class="btn btn-primary">
							<input type="radio" name="cuatrotres" value="1">Muy confiable
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="cuatrotres" value="2">Confiable
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="cuatrotres" value="3">Poco confiable
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="cuatrotres" value="4">Nada confiable
						</label>
					</div>
				</div>

			  <div class="form-group form-group-lg">
					<label class="col-sm-2 control-label" for="formGroupInputLarge">Los campos marcados con
					<label class="obligatorio"> * </label> son obligatorios</label>
			  </div>

			<button type="submit" ng-disable="formul.$invalid" class="btn btn-primary btn-lg">Enviar</button>
			</form>
		</div>

		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/directives/angucomplete.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
		<script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

	</body>
</html>
