<html ng-app="app">
	<head>
		<title>Proyecto OBEX</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  />
		<link rel=icon href=images/logo.png sizes="16x16" type="image/png">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.12.0.js"></script>
		<script src="js/angular-locale_es-co.js"></script>
		<script src="js/jquery.js"></script>
	</head>
	<body>
			<section id="one" class="main special">
				<div style="width: 45em;" class="container">
					<span class="image fit primary"><img src="http://gabrielparradoconferencias.com/images/pic01.jpg" alt="" /></span>
					<div class="content">
						<div style="margin:-4em 0 2em 0; background: url('images/un.png') no-repeat center; height:170px" alt="Escudo Universidad Nacional de Colombia" /></div>
						<header class="major">
							<h2>Proyecto OBEX</h2>
						</header>
						<div class="container-fluid" id="formulario" ng-controller="formulario">
							<div style="margin-top:2em" class="row">
								 <div class="col-md-6">
										<div style="margin:-4em 0 2em 0; background: url('images/participante.png') no-repeat center; height:230px" alt="Escudo Universidad Nacional de Colombia" /></div>
								 </div>
								 <div class="col-md-6"><h1 style="font-size: 2.5em;" id="title">Formulario Inscripción proyecto de extensión</h1></div>
							</div>
							<form action="php/proyecto.php" method="post" name="proyForm" class="form-horizontal" novalidate>

								<div class="form-group form-group-lg" ng-class="{ 'has-error' : proyForm.nombre.$invalid }">
									<label class="col-md-12 control-label">Nombre del proyecto </label>
									<div class="col-sm-12">
								  	<input class="form-control" type="text" placeholder="Nombre del proyecto" name="nombre" ng-model="nombre" ng-minlength="10" ng-maxlength="499" required>
										<p ng-show="proyForm.nombre.$error.minlength" class="help-block">El nombre del proyecto es muy corto.</p>
										<p ng-show="proyForm.nombre.$error.maxlength" class="help-block">El nombre del proyecto es muy largo.</p>
										<p ng-show="proyForm.nombre.$invalid && !proyForm.nombre.$error.minlength && !proyForm.nombre.$error.maxlength" class="help-block">El nombre del proyecto es obligatorio.</p>
									</div>
								</div>

							  <div class="form-group form-group-lg" ng-class="{ 'has-error' : proyForm.sede.$invalid }">
									<label class="col-md-12 control-label">Sede </label>
									<div class="col-sm-8">
										<select ng-model="sel" name="sede" class="form-control" required>
										  <option selected>Bogotá</option>
										  <option>Medellín</option>
										  <option>Manizales</option>
										  <option>Palmira</option>
										  <option>Orinoquía</option>
										  <option>Tumaco</option>
										  <option>San Andrés</option>
										  <option>Amazonía</option>
										</select>
									</div>
								</div>

								<div class="form-group form-group-lg">
									<label class="col-md-12 control-label">Facultad:</label>
									<div class="col-sm-8">
										<select name="facultad" ng-show="sel=='Bogotá'" class="form-control">
										  <option selected>Artes</option>
										  <option>Ciencias</option>
										  <option>Ciencias Agrarias</option>
										  <option>Ciencias Económicas</option>
										  <option>Ciencias Humanas</option>
										  <option>Derecho, Ciencias Políticas y Sociales</option>
										  <option>Enfermería</option>
										  <option>Ingeniería</option>
										  <option>Medicina</option>
										  <option>Medicina Veterinaria y Zootecnia</option>
										  <option>Odontología</option>
										</select>

										<select name="facultad2" ng-show="sel=='Medellín'" class="form-control">
										  <option selected>Arquitectura</option>
										  <option>Ciencias</option>
										  <option>Ciencias Agrarias</option>
										  <option>Ciencias Humanas y Económicas</option>
										  <option>Minas </option>
										</select>

										<select name="facultad3" ng-show="sel=='Manizales'" class="form-control">
										  <option selected>Administración</option>
										  <option>Ingeniería y Arquitectura</option>
										  <option>Ciencias Exactas y Naturales</option>
										  <option>Centro de idiomas</option>
										  <option>Instituto de Estudios Ambientales</option>
										  <option>Instituto de Biotecnología y Agroindustria</option>
										</select>

										<select name="facultad4" ng-show="sel=='Palmira'" class="form-control">
										  <option selected>Ciencias Agropecuarias </option>
										  <option>Ingeniería y Administración</option>
										</select>

									  	<input name="facultad5" ng-show="sel=='Orinoquía' || sel=='Amazonía' || sel=='Tumaco' || sel=='San Andrés' "
										class="form-control" type="text" placeholder="Nombre de la facultad">
									</div>
								</div>

								<div class="form-group form-group-lg" ng-class="{ 'has-error' : proyForm.region.$invalid }">
									<label class="col-md-12 control-label">Región de desarrollo:</label>
									<div class="col-sm-8">
									  <input name="region" ng-model="region" class="form-control" type="text" placeholder="Región de desarrollo" ng-maxlength="44" required>
										<p ng-show="proyForm.region.$error.maxlength" class="help-block">El nombre de la región es muy largo.</p>
									</div>
								</div>

								<div class="form-group form-group-lg" ng-class="{ 'has-error' : proyForm.modalidad.$invalid }">
									<label class="col-md-12 control-label" >Modalidad Extensión: </label>
									<div class="col-sm-8">
										<select name="modalidad" class="form-control" required>
										  <option value="1">Participación en Proyectos de Innovación y Gestión Tecnológica</option>
										  <option value="2">Servicios Académicos</option>
										  <option value="3">Servicios de Educación</option>
										  <option value="4">Educación Continua y Permanente</option>
										  <option value="5">Servicio Docente Asistencial </option>
										  <option value="6">Proyectos de Creación Artística</option>
										  <option value="7">Extensión Solidaria</option>
										  <option value="8">Prácticas y Pasantías Universitarias</option>
										  <option value="9">Proyectos de Cooperación Internacional</option>
										</select>
									</div>
								</div>

								<button style="color: white" type="submit" ng-disabled="proyForm.$invalid" class="btn btn-primary btn-lg">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</section>

			<script type="text/javascript" src="js/app.js"></script>
			<script type="text/javascript" src="js/controller.js"></script>
			<script src="js/bootstrap.js"></script>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
	</body>
</html>
